<div class="section-container">
  <div class="section-container-header">
    <h2>Create Account</h2>
  </div>
  <div class="section-container-body">
    <div class="form-body">
      <%= form_with(model: @user, local: true) do |form| %>
        <div class="signup-form-name-group">
          <div style="display: flex; flex-direction: column; margin-right: 10px;">
            <%= form.label :first_name, class: "form-input-field-label" %>
            <%= form.text_field :first_name, class: "form-input-field", required: true %>
          </div>
          <div style="display: flex; flex-direction: column;">
            <%= form.label :last_name, class: "form-input-field-label" %>
            <%= form.text_field :last_name, class: "form-input-field", required: true %>
          </div>
        </div>
        <div class="signup-form-username-group">
          <%= form.label :username, class: "form-input-field-label" %>
          <%= form.text_field :username, class: "form-input-field", required: true %>
        </div>
        <div class="signup-form-email-group">
          <%= form.label :email, class: "form-input-field-label" %>
          <%= form.email_field :email, class: "form-input-field", required: true %>
        </div>
        <div class="signup-form-password-group">
          <div style="display: flex; flex-direction: column; margin-right: 10px;">
            <%= form.label :password, class: "form-input-field-label" %>
            <%= form.password_field :password, class: "form-input-field", required: true %>
          </div>
          <div style="display: flex; flex-direction: column;">
            <%= form.label :password_confirmation, "Confirm Password", class: "form-input-field-label" %>
            <%= form.password_field :password_confirmation, class: "form-input-field", required: true %>
          </div>
        </div>
        <div class="signup-form-submit-group">
          <%= form.submit "Sign Up", class: "signup-form-submit-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>