<div class="user-profile">
  <%= render "shared/section_container", header: content_tag(:h2, "Change Email or Password"), style: "width: fit-content;" do %>
    <div class="profile-section-container-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "signup-form" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group signup-form-profile-picture-group">
          <div id="profile-pic-edit-container" data-controller="profile-picture-overlay" data-action="mouseenter->profile-picture-overlay#showOverlay mouseleave->profile-picture-overlay#hideOverlay">
            <% if resource.profile_picture.attached? %>
              <%= image_tag(resource.profile_picture,
                class: "profile-pic-large",
                style: "cursor: pointer;",
                data: {
                  profile_picture_overlay_target: (resource.approved? ? "edit" : "no_accounts"),
                  action: (resource.approved? ? "click->profile-picture-overlay#triggerFileInput" : nil)
                },
                title: (resource.approved? ? nil : "You can change your profile picture after account approval")
              ) %>
            <% else %>
              <%= content_tag(:span, "account_circle", class: "material-symbols-rounded default-user-icon-large profile-pic-large", data: { profile_picture_overlay_target: "edit", action: (resource.approved? ? "click->profile-picture-overlay#triggerFileInput" : nil) }, style: "cursor: pointer;", title: (resource.approved? ? nil : "You can change your profile picture after account approval")) %>
            <% end %>
            <%= content_tag(:div, 
              content_tag(:span, (resource.approved? ? "edit" : "no_accounts"), class: "material-symbols-rounded"), 
              class: "profile-pic-overlay", 
              data: { profile_picture_overlay_target: "overlay" }, 
              title: (resource.approved? ? "Change profile picture" : "Account approval required to change profile picture")
            ) %>
            <%= f.file_field(:profile_picture, class: "hidden-file-input", style: "display: none;", data: { profile_picture_overlay_target: "fileInput" }, disabled: !resource.approved?) %>
          </div>
        </div>
        <div class="form-group signup-form-name-group">
          <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true %>
          </div>
          <div>
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: true %>
          </div>
        </div>
        <div class="form-group signup-form-username-group">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true %>
        </div>
        <div class="form-group signup-form-email-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="form-group">
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>
        <div class="form-group signup-form-password-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <div class="form-group signup-form-password-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="form-group signup-form-password-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
        <div class="signup-form-submit-group">
          <%= f.submit "Save Changes", class: "form-submit-button signup-form-submit-button" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
