<div class="user-profile">
  <div class="section-container">
    <div class="section-container-header" style="justify-content: center;">
      <h2>Change Email or Password</h2>
    </div>
    <div class="section-container-body profile-section-container-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "signup-form" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group signup-form-email-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="form-group">
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>
        <div class="form-group signup-form-password-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <div class="form-group signup-form-password-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="form-group signup-form-password-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
        <div class="signup-form-submit-group">
          <%= f.submit "Save Changes", class: "form-submit-button signup-form-submit-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
