<%= render "shared/section_container", style: "width: fit-content;", header: "Sign up" do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="signup-form" style="width: fit-content;">
      <div class="form-group signup-form-profile-picture-group">
        <%= f.label :profile_picture %>
        <%= f.file_field :profile_picture %>
      </div>
      <div class="form-group signup-form-name-group">
        <div>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true %>
        </div>
        <div>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, autofocus: true %>
        </div>
      </div>
      <div class="form-group signup-form-username-group">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true %>
      </div>
      <div class="form-group signup-form-email-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-group signup-form-password-group">
        <%= f.label :password do %>
          Password
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="form-check">
        <%= f.check_box :accepted_guidelines, { class: "form-check-input" }, true, false %>
        <%= f.label :accepted_guidelines, ("I agree to the " + link_to("Community Guidelines", guidelines_path, target: "_blank")).html_safe, class: "form-check-label" %>
      </div>
      <div class="form-group signup-form-submit-group">
        <%= f.submit "Sign up", class:"form-submit-button" %>
      </div>
    </div>
  <% end %>
<% end %>
