<div class="comment-card">
  <div class="comment-card-data">
    <p><em><%= comment.user&.username || "unknown user" %></em>: <%= comment.body %></p>
  </div>
  <div class="comment-card-btns">
    <% if current_user %>
    <!-- Like button does not have functionality yet -->
      <%= button_to "#", class: "user-interaction-btn" do %>
          <span class="like-count"></span> <!-- Like count -->
          <span class="material-symbols-rounded like-btn-icon">thumb_up</span>
      <% end %>
      <!-- Reply button does not have functionality yet -->
      <%= button_to "#", class: "user-interaction-btn" do %>
          <span class="material-symbols-rounded like-btn-icon">reply</span>
      <% end %>
      <% if comment.user == current_user%>
        <%= button_to [comment.article, comment], method: :delete, 
        data: { confirm: "Are you sure?" }, class: "user-interaction-btn delete-btn" do %>
          <span class="material-symbols-rounded">delete</span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>