<div class="comment-card <%= 'reply' if comment.parent_id.present? %>" data-controller="reply" data-reply-id-value="<%= comment.id %>" data-reply-article-id-value="<%= comment.article.id %>">
  <div class="comment-card-data">
    <div class="comment-header-info">
      <% if comment.user&.profile_picture.attached? %>
        <%= image_tag comment.user&.profile_picture, class: "profile-pic-small" %>
      <% else %>
        <span class="material-symbols-rounded comment-user-icon">account_circle</span>
      <% end %>
      <p class="comment-username"><em><%= comment.user&.username || "unknown user" %></em>:</p>
    </div>
    <p class="comment-body"><%= comment.body %></p>
  </div>
  <div class="comment-card-btns">
    <% if current_user %>
      <% if current_user.likes.exists?(likeable: comment) %>
        <%= button_to article_comment_like_path(comment.article, comment, current_user.likes.find_by(likeable: comment)), method: :delete, class: "user-interaction-btn" do %>
          <span class="material-symbols-rounded filled">thumb_up</span>
          <% if comment.likes.count > 0 %>
            <span class="like-count"><%= comment.likes.count %></span>
          <% end %>
        <% end %>
      <% else %>
        <%= button_to article_comment_likes_path(comment.article, comment), method: :post, class: "user-interaction-btn" do %>
          <span class="material-symbols-rounded">thumb_up</span>
          <% if comment.likes.count > 0 %>
            <span class="like-count"><%= comment.likes.count %></span>
          <% end %>
        <% end %>
      <% end %>
      <button class="user-interaction-btn" data-action="click->reply#toggleForm">
        <span class="material-symbols-rounded like-btn-icon">reply</span>
      </button>
      <% if comment.user == current_user%>
        <%= button_to [comment.article, comment], method: :delete, 
        data: { confirm: "Are you sure?" }, class: "user-interaction-btn delete-comment-btn" do %>
          <span class="material-symbols-rounded">delete</span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div data-reply-target="formContainer"></div>

  <% if comment.replies.any? %>
    <a href="#" class="view-replies-link" data-action="click->reply#toggleReplies" data-reply-target="repliesLink">
      View Replies
    </a>
  <% end %>

  <div class="replies hidden" id="replies-<%= comment.id %>" data-reply-target="repliesContainer">
    <%= render comment.replies.order(created_at: :asc) %>
  </div>
</div>