
<span style="display:none;">DEBUG_RENDERED_COMMENT</span>

<div class="comment-card">
  <div class="comment-card-data">
    <p><em><%= comment.user&.username || "unknown user" %></em>: <%= comment.body %></p>
  </div>
  <div class="comment-card-btns">
    <% if current_user %>
    <!-- Like button does not have functionality yet -->
      <%= button_to "#", class: "comment-card-btn" do %>
          <span class="like-count"></span> <!-- Like count -->
          <span class="material-symbols-outlined like-btn-icon">thumb_up</span>
      <% end %>
      <!-- Share button does not have functionality yet -->
      <%= button_to "#", class: "comment-card-btn" do %>
          <span class="material-symbols-outlined like-btn-icon">share</span>
      <% end %>
      <% if comment.user == current_user%>
        <%= button_to [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "comment-card-btn" do %>
          <span class="material-symbols-outlined delete-btn-icon">delete</span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>