<div id="reply-form-<%= comment.id %>" class="comment-form" data-controller="comment-counter">
  <%= form_with(model: [article, Comment.new], class: "reply-form", data: { parent_id: comment.id }) do |form| %>
    <%= form.hidden_field :parent_id, value: comment.id %>
    <div class="comment-body-section">
      <%= form.text_area :body, class: "reply-textarea", maxlength: "250", data: { comment_counter_target: "textarea", action: "input->comment-counter#update" } %>
    </div>
    <div class="comment-submit-section">
      <p style="justify-self: flex-start; margin: -8px 0 -16px 32px;">
        <span data-comment-counter-target="count">250 / 250</span>
      </p>
      <%= form.submit "Post", class: "form-submit-button" %>
    </div>
  <% end %>
</div>