<div class="form">
  <%= form_with model: article do |form| %>
    <div class="form-author-section">
      <%= form.label :author, class: "form-author-label" %><br>
      <%= form.text_field :author, class: "form-author-textfield" %>
      <% article.errors.full_messages_for(:author).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="form-title-section">
      <%= form.label :title, class: "form-title-label" %><br>
      <%= form.text_field :title, class: "form-title-textfield" %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="form-body-section">
      <%= form.label :body, class: "form-body-label" %><br>
      <%= form.text_area :body, class: "form-body-textarea" %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="form-submit-section">
      <%= form.submit class: "form-submit-button" %>
    </div>
  <% end %>
</div>
