<div class="homepage">
    <div id="saved-articles" class="section-container">
        <div class="section-container-header">
            <h2>Saved Articles</h2>
        </div>
        <div class="section-container-body">
            <ul>
                
            </ul>
        </div>
    </div>
    <div id="article-list" class="section-container">
        <div class="section-container-header">
            <% if current_user %>
                <%= link_to new_article_path, class: "new-article-button", title: "New Article" do %>
                    <span class="material-symbols-rounded">post_add</span>
                <% end %>
            <% end %>
            <h2>Global Articles</h2>
        </div>
        <div class="section-container-body">
            <ul>
                <% @articles.each do |article| %>
                    <li>
                        <div class="card article-card-grid">
                            <%= link_to article_path(article), class: "article-card-link" do %>
                                <div class="article-card-main">
                                    <h3 class="article-card-title"><%= article.title %></h3>
                                    <div class="article-card-author">
                                        by <em><%= article.user.username %></em>
                                    </div>
                                </div>
                            <% end %>
                            <% if current_user == article.user %>
                                <%= link_to article_path(article), class: "user-interaction-btn delete-btn", title: "Delete Article",
                                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                                    <span class="material-symbols-rounded">delete</span>
                                <% end %>
                            <% end %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>