<% content_for(:title, "Narratree - #{ @article.title }") %>
<div class="article-page">
  <div class="article-btn-container">
    <button type="button" class="user-interaction-btn" title="Save Article">
      <span class="material-symbols-rounded">favorite</span>
    </button>
  
    <% if current_user %>
      <!-- Like button does not have functionality yet -->
      <%= button_to "#", class: "user-interaction-btn", title: "Like Article" do %>
          <span class="material-symbols-rounded">thumb_up</span>
      <% end %>
      <!-- Share button does not have functionality yet -->
      <%= button_to "#", class: "user-interaction-btn", title: "Share Article" do %>
          <span class="material-symbols-rounded">share</span>
      <% end %>
  
      <!-- Only allow editing/deleting if user is the original author -->
      <% if @article.user == current_user %>
        <%= link_to edit_article_path(@article), class: "user-interaction-btn", title: "Edit Article" do %>
          <span class="material-symbols-rounded">edit</span>
        <% end %>
        <%= link_to article_path(@article), class: "user-interaction-btn delete-btn", title: "Delete Article", data: {
          turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <span class="material-symbols-rounded">delete</span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div id="article-top">
    <h1 class="article-page-title">
      <%= @article.title %>
    </h1>
    <p class="article-author">
      <em>by <%= @article.user&.username %> on <%= @article.created_at.strftime("%B %d, %Y") %></em>
    </p>
  </div>
  
  <div class="article-body">
    <p><%= @article.body %></p>
  </div>
  
  <div class="comments-section" id="comments-section" >
    <%= render "comments/form", article: @article, comment: @comment %>
    <%= render @article.comments.select(&:body) %>
  </div>
</div>
