<div class="article-title">
  <h1><%= @article.title %></h1>
  <p><em>Written by author</em></p>
</div>

<div class="article-body">
  <p><%= @article.body %></p>
</div>

<div class="article-btn-container">
  <%= link_to edit_article_path(@article), class: "article-btn" do %>
    <span class="material-symbols-outlined edit-icon">
      edit
    </span>
  <% end %>

  <%= link_to edit_article_path(@article), class: "article-btn" do %>
    <span class="material-symbols-outlined comment-icon">
      message
    </span>
  <% end %>

  <%= link_to article_path(@article), class: "article-btn", data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } do %>
    <span class="material-symbols-outlined delete-icon">
      delete
    </span>
  <% end %>
</div>

<div class="comments-section">
  <h2>Comments</h2>
  <%= render "comments/form", article: @article %>
  <%= render @article.comments %>
</div>


