<% content_for(:title, "Narratree - #{ @article.title }") %>
<div class="article-page">
  <div class="article-btn-container">
    <% if current_user %>
      <% if current_user.saved_articles.include?(@article.id.to_s) %>
        <%= button_to toggle_save_article_path(@article), method: :post, class: "user-interaction-btn" do %>
          <span class="material-symbols-rounded">bookmark_remove</span>
        <% end %>
      <% else %>
        <%= button_to toggle_save_article_path(@article), method: :post, class: "user-interaction-btn" do %>
          <span class="material-symbols-rounded">bookmark_add</span>
        <% end %>
      <% end %>
      <% if @article.users.include?(current_user) %>
        <%= button_to unlike_article_path(@article), class: "user-interaction-btn", method: :post do %>
          <span class="material-symbols-rounded">thumb_down</span>
          <span class="like-count"><%= @article.users.count %></span>
        <% end %>
      <% else %>
        <%= button_to like_article_path(@article), class: "user-interaction-btn", method: :post do %>
          <span class="material-symbols-rounded">thumb_up</span>
          <span class="like-count"><%= @article.users.count %></span>
        <% end %>
      <% end %>
      <%= button_to "#", class: "user-interaction-btn", title: "Share Article" do %>
        <span class="material-symbols-rounded">share</span>
      <% end %>

      <% if @article.user == current_user %>
        <%= link_to edit_article_path(@article), class: "user-interaction-btn", title: "Edit Article" do %>
          <span class="material-symbols-rounded">edit</span>
        <% end %>
        <%= link_to article_path(@article), class: "user-interaction-btn article-delete-btn", title: "Delete Article", data: {
          turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <span class="material-symbols-rounded">delete</span>
        <% end %>
      <% end %>
    <% else %>
      <%= button_to "#", class: "user-interaction-btn", title: "Share Article" do %>
        <span class="material-symbols-rounded">share</span>
      <% end %>
    <% end %>
  </div>
  
  <div id="article-top">
    <h1 class="article-page-title">
      <%= @article.title %>
    </h1>
    <p class="article-page-author">
      <em>by <%= @article.user&.username %> on <%= @article.created_at.strftime("%B %d, %Y") %></em>
    </p>
  </div>
  
  <div class="article-body">
    <p><%= @article.body %></p>
  </div>
  
  <div class="comments-section" id="comments-section">
    <% if @article.user == current_user %>
      <%= render "comments/form", article: @article, comment: @comment %>
    <% end %>
    <%= render @article.comments.select(&:body) %>
  </div>
</div>
