<% content_for(:title, "Narratree - #{ @article.title }") %>
<div class="article-page">
  <div class="article-btn-container">
    <% if current_user %>
      <% if current_user.saved_articles.exists?(article_id: @article.id) %>
        <%= button_to toggle_save_article_path(@article), method: :post, class: "user-interaction-btn", title: "Remove from Pinned Articles" do %>
          <span class="material-symbols-rounded filled">keep</span>
        <% end %>
      <% else %>
        <%= button_to toggle_save_article_path(@article), method: :post, class: "user-interaction-btn", title: "Add to Pinned Articles" do %>
          <span class="material-symbols-rounded">keep</span>
        <% end %>
      <% end %>
      <% if @article.users.include?(current_user) %>
        <%= button_to unlike_article_path(@article), class: "user-interaction-btn", method: :post do %>
          <span class="material-symbols-rounded filled">thumb_up</span>
          <span class="like-count"><%= @article.users.count %></span>
        <% end %>
      <% else %>
        <%= button_to like_article_path(@article), class: "user-interaction-btn", method: :post do %>
          <span class="material-symbols-rounded">thumb_up</span>
          <span class="like-count"><%= @article.users.count %></span>
        <% end %>
      <% end %>
      <% if @article.user == current_user %>
        <%= link_to edit_article_path(@article), class: "user-interaction-btn", title: "Edit Article" do %>
          <span class="material-symbols-rounded">edit</span>
        <% end %>
        <%= link_to article_path(@article), class: "user-interaction-btn article-delete-btn", title: "Delete Article", data: {
          turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <span class="material-symbols-rounded">delete</span>
        <% end %>
      <% end %>
    <% else %>
      <%= button_to like_article_path(@article), class: "user-interaction-btn", disabled: true, method: :post do %>
          <span class="material-symbols-rounded">thumb_up</span>
          <span class="like-count"><%= @article.users.count %></span>
      <% end %>
    <% end %>
    <button title="Share Article"
      class="user-interaction-btn"
      type="button"
      data-controller="share"
      data-share-url-value="<%= article_url(@article) %>"
      data-share-title-value="<%= @article.title %>"
      data-action="click->share#share">
      <span class="material-symbols-rounded">share</span>
    </button>
  </div>
  
  <div id="article-top">
    <h1 class="article-page-title">
      <%= @article.title %>
    </h1>
    <p class="article-page-author">
      <em>by <%= link_to @article.user.username, @article.user %> on <%= @article.created_at.strftime("%B %d, %Y") %></em>
    </p>
  </div>
  
  <% if @article.photos.attached? %>
    <div id="articlePhotosCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @article.photos.each_with_index do |photo, idx| %>
          <div class="carousel-item <%= 'active' if idx == 0 %>">
            <%= image_tag photo.variant(resize_to_limit: [1200, 600]), class: "d-block w-100 carousel-image", alt: "Article photo "+(idx+1).to_s %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#articlePhotosCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#articlePhotosCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>

  <div class="article-body">
    <%= simple_format(@article.body) %>
  </div>

  <% if (@article.updated_at - @article.created_at) > 1.hour %>
    <div class="article-modified" style="margin: 1em 0; font-size: 1em; color: var(--article-page-author-color);">
      <em>Modified on <%= @article.updated_at.strftime("%B %d, %Y at %I:%M %p") %></em>
    </div>
  <% end %>

  <div class="comments-section" id="comments-section">
    <% if current_user %>
      <%= render "comments/form", article: @article, comment: @comment %>
    <% end %>
    <%= render @article.comments.where(parent_id: nil).order(created_at: :desc) %>
  </div>
</div>
