<tr>
  <td><%= article.id %></td>
  <td><%= link_to article.title, article_path(article) %></td>
  <td><%= link_to article.user.username, user_path(article.user) %></td>
  <td><%= article.created_at %></td>
  <td><%= article.updated_at %></td>
  <td><%= article.comments.count %></td>
  <td><%= article.photos.attached? ? article.photos.count : 0 %></td>
  <td><%= article.article_likes.count %></td>
  <td>
    <div style="display: flex; gap: 0.5em; align-items: center;">
      <%= button_to edit_article_path(article), class: 'admin-edit-button' do %>
        <span class="material-symbols-rounded" style="font-size: 20px; color: #fff;">edit</span>
      <% end %>
      <%= button_to article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-delete-button' do %>
        <span class="material-symbols-rounded" style="font-size: 20px; color: #fff;">delete</span>
      <% end %>
    </div>
  </td>
</tr>
