<div class="user-profile">
    <div class="section-container">
        <div class="section-container-header">
            <% if current_user && current_user != @user %>
                <% following = current_user.following.include?(@user) %>
                                <a href="#"
                                     data-controller="follow"
                                     data-follow-user-id-value="<%= @user.id %>"
                                     data-follow-following-value="<%= following %>"
                                     data-follow-follow-url-value="<%= follow_user_path(@user) %>"
                                     data-follow-unfollow-url-value="<%= unfollow_user_path(@user) %>"
                                     data-action="click->follow#toggleFollow"
                                     class="new-article-button"
                                     style="margin-right: 1em;"
                                     title="<%= following ? 'Unfollow User' : 'Follow User' %>"
                                     data-follow-target="button">
                                    <span class="material-symbols-rounded" data-follow-target="icon"><%= following ? 'person_remove' : 'person_add' %></span>
                                </a>
            <% end %>
            <h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
        </div>
        <div class="section-container-body profile-section-container-body">
            <%= form_with model: @user, url: user_path(@user), method: :patch, id: "profile-pic-form", multipart: true do |form| %>
                <%= form.file_field :profile_picture, class: "hidden-file-input" %>
                <div id="profile-pic-container">
                    <% if @user.profile_picture.attached? %>
                        <%= image_tag @user.profile_picture, id: "profile-pic-uploader", class: "profile-pic-large", style: "margin-left: 0; cursor: pointer;", title: "Change Profile Picture" %>
                    <% else %>
                        <span class="material-symbols-rounded default-user-icon" id="profile-pic-uploader">account_circle</span>
                    <% end %>
                </div>
            <% end %>
            <h4>Username:</h4>
            <p><%= @user.username %></p>
            <h4>Email:</h4>
            <p><%= @user.email %></p>
            <p>Member since <%= @user.created_at.strftime("%B %d, %Y") %></p>
            <% if current_user == @user %>
                <%= link_to 'Edit Profile', edit_user_path(@user), class: 'form-submit-button', style: 'margin: 0; text-decoration: none;' %>
            <% end %>
        </div>
    </div>
    <div class="section-container profile-article-list-container">
        <div class="section-container-header">
            <h2>Articles</h2>
        </div>
        <div class="section-container-body">
            <% if @articles.count > 0%>
                <ul>
                    <% @articles.each do |article| %>
                        <li>
                            <div class="card article-card-grid">
                                <%= link_to article_path(article), class: "article-card-link" do %>
                                    <div class="article-card-main">
                                        <h3 class="article-card-title"><%= article.title %></h3>
                                        <div class="article-card-author">
                                            by <em><%= article.user.username %></em>
                                        </div>
                                    </div>
                                <% end %>
                                <% if current_user && current_user == article.user %>
                                    <%= link_to article_path(article), class: "user-interaction-btn delete-btn", title: "Delete Article",
                                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                                        <span class="material-symbols-rounded">delete</span>
                                    <% end %>
                                <% end %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            <% else %>
                <p><em>This user hasn't written any articles.</em></p>
            <% end %>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const profilePicUploader = document.getElementById('profile-pic-uploader');
    const hiddenFileInput = document.querySelector('.hidden-file-input');
    
    if (profilePicUploader && hiddenFileInput) {
        // When the user clicks the visible image/icon, click the hidden input
        profilePicUploader.addEventListener('click', () => {
        hiddenFileInput.click();
        });

        // When the user selects a file, automatically submit the form
        hiddenFileInput.addEventListener('change', () => {
        document.getElementById('profile-pic-form').submit();
        });
    }
    });
</script>