<div class="user-profile">
  <div class="section-container">
    <div class="section-container-header" style="justify-content: center;">
      <h2>Reset Password</h2>
    </div>
    <div class="section-container-body profile-section-container-body">
      <%= form_with(model: resource, url: password_path(resource_name), method: :put, local: true) do |form| %>
        <div class="form-group">
          <%= form.label :password, "New Password" %>
          <%= form.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="form-group">
          <%= form.label :password_confirmation, "Confirm New Password" %>
          <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="signup-form-submit-group">
          <%= form.submit "Change my password", class: "form-submit-button signup-form-submit-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
