<div class="header">
  <h1 class="page-title">atshaw1994's BlogSite</h1>
  <div class="header-btns">
    <%= link_to root_path, class: "header-btn" do %>
        <span class="material-symbols-rounded">home</span>
    <% end %>
    <%= link_to about_path, class: "header-btn" do %>
        <span class="material-symbols-rounded">info</span>
    <% end %>
    <% if current_user %>
      <%= link_to logout_path, data: { turbo_method: :delete }, class: "header-btn" do %>
        <span class="material-symbols-rounded">logout</span>
        <span><%= current_user.username %></span>
      <% end %>
    <% else %>
      <%= link_to "#", onclick: "showModal(event); return false;", class: "header-btn" do %>
        <span class="material-symbols-rounded">account_circle</span>
        <span><em>Not Signed In</em></span>
      <% end %>
    <% end %>
  </div>
</div>