<div class="header">
  <div class="header-left">
    <img src="<%= asset_path('default/logo.png') %>" alt="Logo" class="logo logo-default">
    <img src="<%= asset_path('spooky/logo-halloween.png') %>" alt="Halloween Logo" class="logo logo-halloween" style="display:none;">
    <img src="<%= asset_path('christmas/logo-christmas.png') %>" alt="Christmas Logo" class="logo logo-christmas" style="display:none;">
    <h1 class="page-title">Narratree</h1>
  </div>
  <div class="header-btns">
    <button class="hamburger-btn" data-controller="hamburger" data-action="click->mobile-menu#toggle click->hamburger#animate" aria-label="Open menu">
      <span class="material-symbols-rounded" data-hamburger-target="icon">menu</span>
    </button>
    <div class="header-btns-menu">
      <%= link_to root_path, class: "header-btn" do %>
          <span class="material-symbols-rounded">home</span>
      <% end %>
      <%= link_to about_path, class: "header-btn" do %>
          <span class="material-symbols-rounded">info</span>
      <% end %>
      <button title="Toggle theme mode" class="header-btn" data-controller="theme" data-action="click->theme#toggle">
        <span class="material-symbols-rounded">brightness_7</span>
      </button>
      <% if user_signed_in? %>
        <div class="dropdown-menu-container" data-controller="dropdown">
          <button class="header-btn dropdown-trigger" data-action="click->dropdown#toggle">
            <% if current_user.profile_picture.attached? %>
              <%= image_tag current_user.profile_picture, class: "profile-pic-small" %>
            <% else %>
              <span class="material-symbols-rounded">account_circle</span>
            <% end %>
            <span><%= current_user.username %></span>
          </button>
          <div class="dropdown-menu" data-dropdown-target="menu">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Settings", settings_path, class: "dropdown-item" %>
            <% if current_user.admin? || current_user.owner? %>
              <%= link_to "Admin Dashboard", admin_dashboard_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", data: { controller: "logout", action: "click->logout#logout" } %>
          </div>
        </div>
      <% else %>
        <button class="header-btn" data-action="click->login-modal#show">
          <span class="material-symbols-rounded">account_circle</span>
          <span><em>Not Signed In</em></span>
        </button>
      <% end %>
    </div>
  </div>
</div>